{% extends 'base.html' %}
{% block content %}

<h1>Mineral Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ mineral.name }}
                </span>
                <p>Class: {{ mineral.m_class }}</p>
                <p>Colour: {{ mineral.colour }}</p>
                <p>Hardness: {{ mineral.hardness }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'minerals_update' mineral.id %}">Edit</a>
                <a href="{% url 'minerals_delete' mineral.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action ="{% url 'add_viewing' mineral.id %}" method="post">
            {% csrf_token %}
            {{viewing_form.as_p}}
            <input type="submit" class="btn" value="Add Viewing"/>
        </form>
        <table class="striped">
            <thead>
                <tr><th>Date</th><th>Visitor</th><th>Security Level</th></tr>
            </thead>
            <tbody>
                {% for viewing in mineral.viewing_set.all %}
                    <tr>
                        <td>{{viewing.date}}</td>
                        <td>{{viewing.visitor}}</td>
                        <td>{{viewing.get_level_display}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <h3>Tools for the {{ mineral.name }}</h3>
        {% if mineral.tools.count %}
            {% for tool in mineral.tools.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            A {{tool.brand}} {{tool.name}}
                        </span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'unassoc_tool' mineral.id tool.id %}" method="delete">
                            {% csrf_token %}
                            <button type="submit" class="btn">Remove</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>No Tools</h5>
        {% endif %}
    </div>
    <div class="col s6">
        <h3>Available Tools</h3>
        {% if tools.count %}
            {% for tool in tools.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            A {{tool.brand}} {{tool.name}}
                        </span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'assoc_tool' mineral.id tool.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn">Add</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>No more tools available</h5>
        {% endif %}
    </div>
</div>
<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    var selectEl = document.getElementById('id_level');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}