{% extends 'base.html' %}
{% block content %}

<h1>Mineral Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">
            {{ mineral.name }}
            {% if mineral.magnetic %}
            (Magnetic)
            {% endif %}
        </span>
        <p>Class: {{ mineral.m_class }}</p>
        <p>Colour: {{ mineral.colour }}</p>
        <p>Hardness: {{ mineral.hardness }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'minerals_update' mineral.id %}">Edit</a>
        <a href="{% url 'minerals_delete' mineral.id %}">Delete</a>
    </div>
</div>

{% endblock %}