{% extends 'base.html' %}
{% block content %}

<h1>Mineral List</h1>

{% for mineral in minerals %}
  <div class="card">
    <div class="card-content">
        <span class="card-title">
            {{ mineral.name }}
            {% if mineral.magnetic %}
            (Magnetic)
            {% endif %}
        </span>
      <p>Class: {{ mineral.m_class }}</p>
      <p>Colour: {{ mineral.colour }}</p>
      <p>Hardness: {{ mineral.hardness }}</p>
    
    </div>
  </div>
{% endfor %}

{% endblock %}